/* Style for our header texts
* --------------------------------------- */

@media (max-width: 768px) {
  .title {
    font-size: 10px;
  }
  #about-description {
    font-size: 1.1em;
    text-align: left;
    text-shadow: 0px 0px 1px black;
    letter-spacing: 2px;
    color: white;
	}
	#section0 {
	background-position: 45% 20%;
	}
  #section3 {
	background-position: 85% 50%;
	}
	#about-title {
	  font-size: 3em;
  	margin-top: 15px;
  	text-align: center;
  	text-shadow: 1px 1px 2px #FF3930;
	}
  .card {
    width: 75%;
  }
  .card-white {
    width: 75%;
  }
  .cardBlack {
    width: 75%;
  }
}
@media (max-width: 350px) {
  #about-description {
    font-size: 0.9em;
    text-align: left;
    text-shadow: 0px 0px 1px black;
    letter-spacing: 2px;
    color: white;
  }
  #about-title {
    margin-top: 100px;
	  font-size: 2em;
  	text-align: center;
  	text-shadow: 1px 1px 2px #FF3930;
	}
}

.yellow {
  background-color: yellow;
}
body {
  font-family: 'Shadows Into Light', cursive;
}
p {
  font-size: 2em;
  font-weight: bold;
  color: black;
}
li {
  font-size: 1.2em;
}

.titleSlideBlack {
  color: white;
  letter-spacing: 1px;
}
.vertical-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
#c2go {
  width: 70%;
  height: 70%;
}

#c2g-title {
  color: #784127;
  text-shadow: 0px 0px 20px black;
}
.c2g-text {
  color: #784127;
  text-shadow: 0px 0px 10px black;
  letter-spacing: 1px;
}
#nitpic-title {
  color: #25FAC1;
  text-shadow: 0px 0px 40px black;
}
.nitpic-text {
  color: #25FAC1;
  text-shadow: 0px 0px 20px black;
  letter-spacing: 1px;
}
#store-title {
  color: #BD4A40;
  text-shadow: 0px 0px 40px white;
}
.store-text {
  color: #BD4A40;
  text-shadow: 0px 0px 20px white;
}
#dog-title {
  color: #485EBD;
  text-shadow: 0px 0px 40px white;
}
.dog-text {
  font-weight: lighter;
  color: #485EBD;
  text-shadow: 0px 0px 20px white;
  letter-spacing: 1px;
}
#dogventures-description {
  margin-top: 30px;
}

h1{
  font-size: 6em;
  letter-spacing: 5px;
}

h2{
  font-size: 3.5em;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 1.4em;
}
.title {
  position: absolute;
  bottom: 80px;
  right: 20px;
}
.name-box {
  font-family: 'Shadows Into Light', cursive;
  z-index: 1;
  /*transform: skewY(10deg);*/
  font-weight: bolder;
  /*color: #21961F;*/
  text-shadow: 2px 2px 5px #FF3930, -2px -2px 10px #25FAC1;
  background: -webkit-linear-gradient(#fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*opacity: 0.8;*/
}
#about-title {
  /*font-size: 5em;*/
  font-weight: bolder;
  /*color: #21961F;*/
  /*text-shadow: 5px 5px 0 #412659;*/
  background: -webkit-linear-gradient(#E8BF32, #E87B3B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*opacity: 0.8;*/
}
#about-description{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 100;
    /*color: #3A453F;*/
    text-shadow: 1px 2px 3px #4599E8, -2px -2px 8px #E87B3B;
}
.card-white {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  padding: 20px;
}
.card {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #BDBDBD;
  padding: 20px;
  color: black;
}
.cardBlack {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
  color: white;
  padding: 20px;
}
/* Centered texts in each section
* --------------------------------------- */
.section{
  text-align:center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3{
  background-size: cover;

}

/* Defining each sectino background and styles
* --------------------------------------- */

#section0 {
  background-image: url(images/steps_wide.jpg);
  background-color: rgba(255, 0, 0, 0.1);
  background-blend-mode: color-burn;
  padding: 10% 0 0 0;
}
#section2 {
  background-image: url(images/sunset.jpg);
  /*background-color: rgba(255, 255, 255, 0.2);*/
  background-blend-mode: color-burn;
  padding: 6% 10% 0 10%;
  text-align: justify;
}
#section3 {
  background-image: url(images/flag.jpg);
  /*padding: 6% 0 0 0;*/
}
#section3 h1{
  color: #000;
}


/*Adding background for the slides
* --------------------------------------- */
#slide1{
  background-color: #25FAC1;
}
#slide2{
  background-color: #BD4A40;
}
#slide3{
  background-color: #485EBD;
}
#slide4{
  background-color: #24A622;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}

#header, #footer{

		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 5px;
	}

	#header{
		top:0px;
    font-size: 3em;
    letter-spacing: 2px;
	}
	#footer{
		bottom:0px;
    font-size: 1em;
	}
  #linkedIn {
    width: 2em;
    height: 2em;
  }

	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}
