/* Style for our header texts
* --------------------------------------- */
.yellow {
  background-color: yellow;
}
body {
  font-family: 'Shadows Into Light', cursive;
}
p {
  font-size: 2em;
  font-weight: bold;
  color: black;
}
li {
  font-size: 1.2em;
}
.titleSlideBlack {
  color: white;
}
.vertical-center {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.margin-top {
  margin-top: 20px;
}
#storeFront {
  /*border: 1px solid #485EBD;*/
  /*border-radius: 10px;*/
  width: 50%;
  height: 50%;
}
#dogventures-description {
  margin-top: 30px;
}

h1{
  font-size: 6em;
  letter-spacing: 5px;
}

h2{
  font-size: 3.5em;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 1.4em;
}
.title {
  position: absolute;
  bottom: 80px;
}
#nameBox {
  font-family: 'Shadows Into Light', cursive;
  z-index: 1;
  /*transform: skewY(10deg);*/
  font-weight: bolder;
  /*color: #21961F;*/
  text-shadow: 2px 2px 5px #FF3930, -2px -2px 10px #1269B2;
  background: -webkit-linear-gradient(#fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*opacity: 0.8;*/
}
#about-title {

  font-weight: bolder;
  /*color: #21961F;*/
  /*text-shadow: 5px 5px 0 #412659;*/
  background: -webkit-linear-gradient(#E8BF32, #E87B3B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*opacity: 0.8;*/
}
#about-description{
    font-family: 'Exo', sans-serif;
}
.card {
  font-family: 'Exo', sans-serif;
  background-color: white;
  /*width: 50%;
  padding: 10%;
  margin: 0 auto;*/
  color: black;
}
.cardBlack {
  font-family: 'Exo', sans-serif;
  background-color: black;
  color: white;
}
/* Centered texts in each section
* --------------------------------------- */
.section{
  text-align:center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3{
  background-size: cover;

}

/* Defining each sectino background and styles
* --------------------------------------- */

#section0 {
  background-image: url(images/steps_wide.jpg);
  background-color: rgba(255, 0, 0, 0.2);
  background-blend-mode: color-burn;
  padding: 10% 0 0 0;
}
#section2 {
  background-image: url(images/sunset.jpg);
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: color-burn;
  padding: 6% 10% 0 10%;
  text-align: justify;
}
#section3 {
  background-image: url(images/flag.jpg);
  /*padding: 6% 0 0 0;*/
}
#section3 h1{
  color: #000;
}


/*Adding background for the slides
* --------------------------------------- */
#slide1{
  background-color: #BD4A40;
  padding: 6% 0 0 0;
}
#slide2{
  background-color: #485EBD;
  padding: 6% 0 0 0;
}
#slide3{
  background-color: #24A622;
  padding: 6% 0 0 0;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}

#header, #footer{

		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 5px;
	}

	#header{
		top:0px;
    font-size: 1.5em;
    letter-spacing: 2px;
	}
	#footer{
		bottom:0px;
    font-size: 1em;
	}
  #linkedIn {
    width: 2em;
    height: 2em;
  }

	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}
